.body {
  min-height: 100vh;
}

.cardContent {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}

.card {
  min-height: max-content;
  width: 40%;
}

.img {
  max-width: 40px;
  max-height: 40px;
}
