.body {
  min-height: 100vh;
  background-color: #f3f3f3;
  display: grid;
}

.mainPhoto {
  margin-bottom: 20px;
  width: 100%;
}

.emailContainer {
  margin: 20px;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}

.phoneContainer {
  margin: 20px;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-end;
}

.title {
  justify-self: end;
}

.bodyContent {
  width: 80%;
  align-self: center;
  display: grid;
  margin: 20px;
}

.cardContent {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  height: 95px;
}

.card {
  width: 450px;
  height: 135px;
}

.email {
  align-self: flex-start;
}

.img {
  max-width: 90px;
  max-height: 90px;
}

.typo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.address {
  width: max-content;
  display: flex;
}

.addressContainer {
  margin: auto;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.addimg {
  max-height: 25em;
}

.addcc {
  margin: 1em;
  min-height: 15em;
  align-self: center;
}
