.searchBar {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 120px;
    padding-left: 10px;
    border-radius: 5px;
    text-align: left;
    display: block;
    height: 31px;
    width: 250px;
    border: solid 1px #9c9c9c;
    color:  #808080;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
  }